---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";

@import "minimal-mistakes";

// Custom Overrides
.author__avatar {
  img {
    border-radius: 0 !important;
    max-width: 100%;
    height: auto;
  }
}
