---
# Only the main Sass file needs front matter (the dashes are enough)
search: false
---

@charset "utf-8";

// Font Overrides - Unify font family
$sans-serif: -apple-system, BlinkMacSystemFont, "Roboto", "Segoe UI", "Helvetica Neue", "Lucida Grande", Arial, sans-serif;
$global-font-family: $sans-serif;
$header-font-family: $sans-serif;
$caption-font-family: $sans-serif;

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

// Custom Overrides
.author__avatar {
  img {
    border-radius: 0 !important;
    max-width: 100%;
    height: auto;
  }
}

// Increase font size for author name
.sidebar .author__name {
  font-size: $type-size-4 !important; // Was $type-size-5
}
